<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timesheet</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
  <div class="container">
    <%- include('partials/header', { selectedYear: selectedYear, yearsAvailable: yearsAvailable }) %>
    
    <%- include('partials/addItemForm', { selectedYear: selectedYear }) %>
    
    <%- include('partials/itemsList', { timesheetData: timesheetData }) %>    
  </div>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('year-select').addEventListener('change', function () {
      const selectedYear = this.value;
      window.location.href = `/${selectedYear}`; // Recharge la page avec la nouvelle année
    });

    function confirmDelete(url) {
      if (window.confirm("Êtes-vous sûr de vouloir supprimer cet élément ?")) {
        window.location.href = url; // Redirige vers le lien de suppression
      }
    }
  </script>
</body>

</html>